#calculator_app {
  padding: 20px;
  text-align: center;
}

#center {
  margin-bottom: 20px;
}

.button-icon {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
}

.button-icon:hover {
  background-color: #0056b3;
}

.base {
  display: flex;
  flex-direction: column; /* Elementi in colonna verticale */
  align-items: center;
}

.calculator {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; /* Spazio sotto il testo prima dei bottoni */
}
